.boarding-school {
  background-image: url("../img/aboutUs-title-back.png");
  @include background;
  font-family: "Gotham Pro", sans-serif;
  padding-top: 50px;
  padding-bottom: 101px;
}

.boarding-school-main-img {
  display: none;
}

.boarding-school-title {
  margin-bottom: 60px;
}

.boarding-school-desc {
  width: 100%;
  padding: 0 15px;
  text-align: center;
}

.boarding-school-desc-para {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 40px;
}

@media(min-width: 1100px) {

  .boarding-school-desc-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boarding-school-main-img {
    display: block;
  }


  .boarding-school-desc {
    width: 55%;
    margin-left: 80px;
    padding: 0;
    text-align: left;
  }

  .boarding-school-desc-para {
    font-size: 24px;
    line-height: 50px;
  }
}