<section class="documents">
    <div class="container">
        <h2 class="section-subtitle">Публічна інформація</h2>
        <ul class="tabs">
            <i class="fas fa-chevron-left docs-arrows docs-arrow-prev"></i>
            <li data-slider="info" class="tab active">Інформація про НРЦ</li>
            <li data-slider="structure" class="tab">Структура навчального року</li>
            <li data-slider="programm" class="tab">Освітні програми</li>
            <li data-slider="web" class="tab hide-tab">Мережа класів та дошкільних груп</li>
            <li data-slider="position" class="tab hide-tab">Положення</li>
            <li data-slider="schedule" class="tab hide-tab">Розклад</li>
            <i class="fas fa-chevron-right docs-arrows docs-arrow-next"></i>
        </ul>
        <div class="slider active" data-slider="statut">
            <div class="slide-cont">
                <a href="./img/document/Інформація про НРЦ (1).docx" download="Інформація про НРЦ.docx"
                    data-slider="info" class="slide active"
                    style="background-image: url('img/document/document1.png')"></a>
                <a href="./img/document/Структура  2019-2020 навчального року.doc"
                    download="Структура  2019-2020 навчального року.doc" data-slider="structure" class="slide"
                    style="background-image: url('img/document/document2.png')">
                </a>
                <div data-slider="programm" class="slide" style="background: #fff">
                    <div class="documents-slide-content">
                        <p class="documents-slide-title">Освітні програми</p>
                        <a href="./img/document/ОсПР Дошкільне відділення.docx" class="documents-slide-docs"
                            download="ОсПР Дошкільне відділення.docx">ОсПР Дошкільне відділення</a>
                        <a href="./img/document/ОсПр1 кл..docx" class="documents-slide-docs"
                            download="ОсПр1 кл..docx">ОсПр1 кл</a>
                        <a href="./img/document/ОсПр 2 кл..docx" class="documents-slide-docs"
                            download="ОсПр 2 кл..docx">ОсПр 2 кл.</a>
                        <a href="./img/document/ОсПР3-4 кл..docx" class="documents-slide-docs"
                            download="ОсПР3-4 кл..docx">ОсПР3-4 кл</a>
                        <a href="./img/document/ОсПР5-10 кл..docx" class="documents-slide-docs"
                            download="ОсПР5-10 кл..docx">ОсПР5-10 кл.</a>
                    </div>
                </div>
                <div data-slider="web" class="slide" style="background: #fff">
                    <div class="documents-slide-content">
                        <p class="documents-slide-title">Мережа класів та дошкільних груп</p>
                    </div>
                </div>
                <div data-slider="position" class="slide" style="background: #fff">
                    <div class="documents-slide-content">
                        <p class="documents-slide-title">Положення</p>
                        <a href="./img/document/Положення про дошкільне відділення.docx"
                            download="Положення про дошкільне відділення.docx" class="documents-slide-docs">Положення
                            про дошкільне відділення</a>
                        <a href="./img/document/Положення про  спеціальну школу НРЦ № 17.docx"
                            download="Положення про  спеціальну школу НРЦ № 17.docx"
                            class="documents-slide-docs">Положення про спеціальну школу НРЦ № 17</a>
                        <a href="./img/document/Положення про інтернат НРЦ.docx"
                            download="Положення про інтернат НРЦ.docx" class="documents-slide-docs">Положення про
                            інтернат НРЦ</a>
                        <a href="./img/document/Положення про пропускний режим.docx"
                            download="Положення про пропускний режим.docx" class="documents-slide-docs">Положення про
                            пропускний режим</a>
                        <a href="./img/document/Положення про реабілітаційне відділення.docx"
                            download="Положення про реабілітаційне відділення.docx"
                            class="documents-slide-docs">Положення про реабілітаційне відділення</a>
                    </div>
                </div>
                <div data-slider="schedule" class="slide" style="background: #fff">
                    <div class="documents-slide-content">
                        <p class="documents-slide-title">Розклад</p>
                        <a href="./img/document/розклад вся школа19-20.doc" download="розклад вся школа19-20.doc"
                            class="documents-slide-docs">розклад вся школа19-20</a>
                        <a href="#" class="documents-slide-docs">розклад_дошкільне відділення</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>