<footer class="page-footer">
    <div class="page-footer__container">
        <div class="page-footer__support">
            <h4 class="page-footer__title">ПІДТРИМАТИ НАС</h4>
            <p class="page-footer__text">Комунальний загальноосвітній навчальний <br /> заклад І-ІІ ступенів
                "Навчально-реабілітаційний<br />центр №17" м.Києва</p>
            <p class="page-footer__text">Код ЄДРПОУ 22880243</p>
            <p class="page-footer__text">МФО 320649</p>
            <p class="page-footer__text page-footer__text-last">Рахунок № 26002052625854
                (українська гривня)</p>
        </div>
        <div class="page-footer__menu">
            <a class="page-footer__menu-item" href="./aboutUs.html">ПРО НАС</a>
            <a class="page-footer__menu-item scroll-to-btn gallery-btn" href="#">ФОТОГАЛЕРЕЯ</a>
            <a class="page-footer__menu-item scroll-to-btn team-btn" href="#">КОМАНДА</a>
            <a class="page-footer__menu-item scroll-to-btn teach-btn" href="#">ОСВІТНІ ПРОГРАМИ</a>
            <a class="page-footer__menu-item scroll-to-btn schedule-btn" href="#">РЕЖИМ РОБОТИ</a>
            <a class="page-footer__menu-item page-footer__last-menu-item" href="./vacancy.html">ВАКАНСІЇ</a>
        </div>
        <div class="page-footer__info">
            <h4 class="page-footer__title">ПОТРІБНА ДОПОМОГА?</h4>
            <h4 class="page-footer__title">ЗАТЕЛЕФОНУЙТЕ НАМ!</h4>
            <div class="page-footer__grid-container">
                <p class="page-footer__text-1">Дошкільне відділення</p>
                <a class="page-footer__tel-1 page-footer__text" href="tel:+38 044 242 27 01">+38 044 242 27 01</a>
                <p class="page-footer__text-2">Секретеріат</p>
                <a class="page-footer__tel-2 page-footer__text" href="tel:+38 044 242 27 01">+38 044 242 27 01</a>
                <p class="page-footer__text-3">Підрозділ навч.-виховної роботи</p>
                <a class="page-footer__tel-3 page-footer__text" href="tel:+38 044 242 09 97">+38 044 242 09 97</a>
                <p class="page-footer__text-4">Інтернат</p>
                <a class="page-footer__tel-4 page-footer__text" href="tel:+38 044 242 09 97">+38 044 242 09 97</a>
                <p class="page-footer__text-5">Медсестра</p>
                <a class="page-footer__tel-5 page-footer__text" href="tel:+38 044 242 09 97">+38 044 242 09 97</a>
            </div>
            <div class="page-footer__logo">
                <span class="page-footer__logo-text">НРЦ</span>
                <a href="./index.html" class="logo logo--footer"
                    style="background-image: url('img/header-logo.svg')"></a>
                <span class="page-footer__logo-text">№17</span>
            </div>
        </div>
    </div>
    <span class="page-footer__copyright">Всі права захищено 2019</span>

</footer>