<header class="page-header">
    <div class="container">
        <a href="./index.html" class="logo logo--header" style="background-image: url('img/header-logo.svg')"></a>
        <ul class="header-menu__main">
            <li><a class="header-menu-item" href="./index.html">Головна</a></li>
            <li><a class="header-menu-item" href="./preschoolDepartment.html">Дошкільне відділення</a></li>
            <li><a class="header-menu-item" href="./special-school.html">Спеціальна школа</a></li>
            <li><a class="header-menu-item" href="./rehabilitation.html">Реабілітаційне відділення</a></li>
            <li><a class="header-menu-item" href="./sp-service.html">СПС</a></li>
            <li><a class="header-menu-item" href="./boarding-school.html">Інтернат</a></li>
        </ul>
        <ul class="header-menu__tel">
            <li><a href="tel:+380442420997">+38 044 242 09 97</a></li>
            <li><a href="tel:+380442422701">+38 044 242 27 01</a></li>
        </ul>
        <div class="header-menu__burger-btn">
            <span class="header-menu__burger-btn-letters">м</span>
            <span class="header-menu__burger-btn-letters">е</span>
            <span class="header-menu__burger-btn-letters">н</span>
            <span class="header-menu__burger-btn-letters">ю</span>
        </div>
        <div class="header-menu__close-btn">
            <div class="header-menu__close-btn-cross--left"></div>
            <div class="header-menu__close-btn-cross--right"></div>
        </div>
        <ul class="header-menu__burger-menu">
            <li><a class="header-menu__burger-sub-menu-item" href="./index.html">Головна</a></li>
            <li><a class="header-menu__burger-sub-menu-item" href="./aboutUs.html">Про нас</a></li>
            <li><a class="header-menu__burger-sub-menu-item" href="./preschoolDepartment.html">Дошкільне відділення</a>
            </li>
            <li><a class="header-menu__burger-sub-menu-item" href="./special-school.html">Спеціальна школа</a></li>
            <li><a class="header-menu__burger-sub-menu-item" href="./rehabilitation.html">Реабілітаційне відділення</a>
            </li>
            <li><a class="header-menu__burger-sub-menu-item" href="./sp-service.html">СПС</a></li>
            <li><a class="header-menu__burger-sub-menu-item" href="./boarding-school.html">Інтернат</a></li>
            <li><a class="header-menu__burger-sub-menu-item" href="./404Page.html">Галерея</a></li>
            <li><a class="header-menu__burger-sub-menu-item" href="./404Page.html">Команда</a></li>
            <li>
                <a class="header-menu__burger-sub-menu-item submenu-teach-programm" href="#"><i
                        class="fas fa-caret-right"></i> Освітні
                    програми</a>
                <ul class="header-menu__burger-sub-menu">
                    <li><a class="header-menu__burger-sub-menu-item header-menu__burger-sub-menu-item--hide teach-programm"
                            href="./404Page.html">Дошкільне відділення</a></li>
                    <li><a class="header-menu__burger-sub-menu-item header-menu__burger-sub-menu-item--hide teach-programm"
                            href="./404Page.html">Спеціальна школа</a></li>
                </ul>
            </li>
            <li>
                <a class="header-menu__burger-sub-menu-item submenu-timetable" href="#"><i
                        class="fas fa-caret-right"></i> Роклад</a>
                <ul class="header-menu__burger-sub-menu">
                    <li><a class="header-menu__burger-sub-menu-item header-menu__burger-sub-menu-item--hide timetable"
                            href="./404Page.html">Дошкільне відділення</a></li>
                    <li><a class="header-menu__burger-sub-menu-item header-menu__burger-sub-menu-item--hide timetable"
                            href="./404Page.html">Спеціальна школа</a></li>
                </ul>
            </li>
            <li><a class="header-menu__burger-sub-menu-item" href="./contacts.html">Контакти</a></li>
            <li><a class="header-menu__burger-sub-menu-item" href="./vacancy.html">Вакансії</a></li>
            <li><a class="header-menu__burger-sub-menu-item" href="./publicInfo.html">Публічна інформація</a></li>
        </ul>
    </div>
</header>