.page-footer {
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, .9) 10%,
      rgba(255, 255, 255, .8) 15%,
      rgba(255, 255, 255, .5) 20%,
      rgba(255, 255, 255, .2) 25%,
      rgba(255, 255, 255, 0) 30%), url('../img/footer-bg.png');
  @include background;
  position: relative;
  padding: 150px 50px 50px 50px;
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
  //padding: 0 50px;
  padding-top: 70px;
}

.page-footer__title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 13px;
}

.page-footer__text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 13px;
}

.page-footer__menu {
  text-align: center;
}

.page-footer__menu-item {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 35px;
  color: black;
  text-decoration: none;
}

.page-footer__grid-container {
  display: grid;
  grid-template-columns: 280px 16px 170px;
  grid-template-rows: 30px 30px 30px 30px 30px;
  margin-top: 20px;
}

.page-footer__text-1 {
  grid-column: 1;
  grid-row: 1;
}

.page-footer__text-2 {
  grid-column: 1;
  grid-row: 2;
}

.page-footer__text-3 {
  grid-column: 1;
  grid-row: 3;
}

.page-footer__text-4 {
  grid-column: 1;
  grid-row: 4;
}

.page-footer__text-5 {
  grid-column: 1;
  grid-row: 5;
}

.page-footer__tel-1 {
  grid-column: 3;
  grid-row: 1;
}

.page-footer__tel-2 {
  grid-column: 3;
  grid-row: 2;
}

.page-footer__tel-3 {
  grid-column: 3;
  grid-row: 3;
}

.page-footer__tel-4 {
  grid-column: 3;
  grid-row: 4;
}

.page-footer__tel-5 {
  grid-column: 3;
  grid-row: 5;
}

.page-footer__logo-text {
  font-size: 48px;
  font-family: $logoText;
}

.logo--footer {
  display: inline-block;
}

.page-footer__text {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.page-footer__logo {
  text-align: center;
}

.page-footer__copyright {
  position: absolute;
  bottom: 23px;
  right: 10px;
  font-family: "Gotham Pro", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  color: #C4C4C4;
}

@media (max-width: 1200px) {
  .page-footer__container {
    flex-wrap: wrap;
  }

  .page-footer {
    padding: 0 20px;
  }

  .page-footer__menu {
    text-align: center;
    margin: 0 auto;
  }

  .main-btn__cont {
    margin: 0 auto 40px;
  }

  .page-footer__copyright {
    display: block;
    text-align: center;
    position: static;
    padding-bottom: 15px;
  }

  .page-footer__logo {
    text-align: center;
    margin-bottom: 20px;
  }

  .page-footer__grid-container {
    display: inline-grid;
    grid-template-columns: 280px;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
  }

  .page-footer__text-2 {
    grid-row: 3;
  }

  .page-footer__text-3 {
    grid-row: 5;
  }

  .page-footer__text-4 {
    grid-row: 7;
  }

  .page-footer__text-5 {
    grid-row: 9;
  }

  .page-footer__tel-1 {
    grid-column: 1;
    grid-row: 2;
  }

  .page-footer__tel-2 {
    grid-column: 1;
    grid-row: 4;
  }

  .page-footer__tel-3 {
    grid-column: 1;
    grid-row: 6;
  }

  .page-footer__tel-4 {
    grid-column: 1;
    grid-row: 8;
  }

  .page-footer__tel-5 {
    grid-column: 1;
    grid-row: 10;
  }

  .page-footer__logo-text {
    font-size: 33px;
  }

  .page-footer__logo {
    text-align: center;
  }

  .page-footer__support {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .main-btn__cont {
    width: 280px;
  }

  .main-btn__inner-text {
    padding: 10px;
  }

  .page-footer__text-last {
    margin-bottom: 30px;
  }

  .page-footer__info {
    text-align: center;
    margin: 0 auto;
  }

  .page-footer__grid-container {
    margin-bottom: 30px;
  }

  .page-footer__last-menu-item {
    margin-bottom: 50px;
  }
}