.page-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.page-header>.container {
  @include flexCenter;
  padding-top: 18px;
  padding-bottom: 18px;
  user-select: none;
}

.logo {
  display: block;
  width: 99.29px;
  height: 65.17px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &--header {
    margin-right: 22px;
  }

  &--footer {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.header-menu {
  &__main {
    @include flexCenter;
  }

  &__main>li {
    margin-right: 20px;
  }

  &__main>li>a:link,
  &__main>li>a:visited,
  &__tel>li>a:link,
  &__tel>li>a:visited,
  &__burger-menu>li a:link,
  &__burger-menu>li a:visited {
    text-decoration: none;
  }

  &__main>li>a {
    transition: .5s;
    border-bottom: 1px solid transparent;
    color: $textColor;
    font-size: 16px;
  }

  &__main>li>a:hover {
    color: $textColorHover;
    border-bottom: 1px solid $textColorHover;
  }

  &__tel {
    margin-right: 10px;
  }

  &__tel>li>a {
    color: $textColor;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.05em;
  }

  &__burger-btn {
    @include gradientBorder;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 7px;
    padding: 6px 9px;
  }

  &__burger-btn-letters {
    text-transform: uppercase;
    color: #938D8D;
    font-size: 11px;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-weight: 500;
  }

  &__burger-menu {
    padding: 42px 86px;
    opacity: 0;
    position: absolute;
    right: -100%;
    top: 0;
    transition: all .7s ease-in-out;
    background-color: #FFFFFF;
    @include gradientBorder;
  }

  &__burger-menu.active {
    opacity: 1;
    right: 0;
    z-index: 100;
    background-color: #fff;
  }

  &__burger-menu>li a:link,
  &__burger-menu>li a:visited {
    font-size: 24px;
    line-height: 300%;
  }

  &__burger-sub-menu {
    &-item {
      transition: .5s;
      color: $textColor;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      font-size: 16px;

      &:hover {
        color: $textColorHover;
        border-bottom: 1px solid $textColorHover;
      }

      &--hide {
        display: none;

        &.active {
          display: inline;
          margin-left: 25px;
        }
      }
    }

  }
}

// Cross for closing the burger menu

.header-menu__close-btn {
  opacity: 0;
  z-index: 101;
  position: absolute;
  top: 35px;
  right: 25px;
  transition: all .9s ease;
  display: none;
}

.header-menu__close-btn-cross--left {
  width: 30px;
  height: 3px;
  transform: rotate(-45deg);
  background-color: black;
  position: relative;
  top: 2.5px;
}

.header-menu__close-btn-cross--right {
  width: 30px;
  height: 3px;
  transform: rotate(45deg);
  background-color: black;
  position: relative;
}

//Mobile

@media (max-width: 1140px) {
  .logo--header {
    display: none;
  }

  .header-menu__main {
    display: none;
  }

  .header-menu__tel {
    display: none;
  }

  .page-header {
    padding: 5px 0;
  }

  .header-menu__burger-btn {
    margin: 0 auto;
  }

  .header-menu__burger-menu {
    padding: 20px;
    width: 100%;

    &.active {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      overflow-y: scroll;
      background-color: #fff;
    }
  }

  .header-menu__close-btn {
    display: block;
  }
}