.anthem {
  background-color: #F5FCFF;
  position: relative;
  margin-top: -85px;

  &:after {
    @include gradient-bottom;
  }

  &__text {
    display: block;
    margin: 0 auto;
    text-align: left;
    align-self: flex-end;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Marck Script', cursive;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.1em;
    color: #484444;
    padding: 0 15px;

    &>p {
      margin-bottom: 40px;
    }
  }

  &>.container {
    padding-bottom: 50px;
    @include flexCenter;
    flex-direction: column;
  }
}

@media(min-width: 900px) {
  .anthem {

    &__text {
      font-size: 28px;
      padding: 0;
    }
  }
}

@media(min-width: 1200px) {
  .anthem {
    background-image: url("../img/anthem-bg.png");
    @include background;
    padding-bottom: 300px;

    &__text {
      margin: 0;
    }

    &>.container {
      padding-bottom: 650px;
    }
  }

}