.contact-us {
    position: relative;
    padding-bottom: 200px;
    padding-top: 15%;
}

.contact-subtitle {
    font-weight: bold;
    font-size: 36px;
    line-height: 34px;
    color: $textColor;
    text-align: center;
}

.section-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: $textColor;
    margin-top: 38px;
    margin-bottom: 70px;
}

.select {
    text-align: center;
    position: relative;
    margin: 0 auto;

    &-question {
        position: relative;
        right: 15px;
        color: $textColorHover;
    }

    &-arrow-down {
        position: relative;
        left: 30px;
        color: $textColorHover;
    }

    &-phone {
        position: relative;
        color: $textColorHover;
    }

    &-result {
        text-align: center;
        color: #1A394B;
        font-size: 20px;
        padding-bottom: 30px;
    }
}

.select-input {
    display: inline-block;
    background: #F7FCFF;
    border: 0.5px solid #95D3FF;
    border-radius: 50px;
    padding: 15px 45px 15px 25px;
    font-size: 18px;
    color: #BCC4C8;
    outline: none;
    cursor: pointer;

}

.contact-list {
    display: none;
    width: 320px;
    margin: 0 auto;
    background: #F7FCFF;
    border: 0.5px solid #95D3FF;
    border-radius: 30px;
    text-align: center;
    font-size: 13px;
    color: #131E26;
    transition: height ease .4s;
    z-index: 11;
    padding-bottom: 23px;

    &.active {
        display: block;
        transition: height ease .5s;
        z-index: 11;
    }
}

.point {
    font-size: 18px;
    padding-top: 23px;

    &:hover {
        font-weight: 500;
        cursor: pointer;
    }
}

.tel {
    font-size: 30px;
    color: #1A394B;
    position: relative;
    text-align: center;
    display: none;
    margin-top: 50px;

    &.active {
        display: block;
    }
}

.asking-girl {
    display: none;
}

.phone-container {
    display: none;
    text-align: center;

    &.active {
        display: block;
    }
}

.phone-contacts-btn {
    margin: 0 auto;
}

.phone-advice {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: $textColor;
    margin-bottom: 40px;
    margin-top: 65px;
}

@media(min-width: 640px) {

    .select {
        &-question {
            right: 40px;
        }

        &-arrow-down {
            left: 70px;
        }

        &-result {
            font-size: 25px;
        }
    }

    .select-input {
        font-size: 20px;
        padding: 20px 100px 20px 70px;
    }

    .contact-list {
        width: 450px;
        padding-bottom: 30px;
    }

    .point {
        font-size: 18px;
        padding-top: 30px;
    }

    .tel {
        font-size: 35px;
        top: 50px;
        padding-bottom: 70px;
    }
}

@media(min-width: 1280px) {
    .contact-us {
        padding-bottom: 400px;
        background-image: url('../img/contact-bg.png');
        background-position: 0 0;
        @include background;
    }

    .asking-girl {
        display: inline-block;
        width: 187px;
        height: 270px;
        position: absolute;
        top: 47%;
        left: 75%;
    }

    .phone-container {
        padding-bottom: 50px;
    }
}