.documents {
  margin-bottom: 150px;

  & .slider {
    @include flexCenter;
    position: relative;
  }

  & .prev,
  & .next {
    font-family: $logoText;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 140px;
    margin: 25px;
    cursor: pointer;
    position: absolute;

    &.disabled {
      color: #D3C5DB;
    }
  }

  & .prev {
    left: -20px;
    bottom: 13%;
  }

  & .next {
    right: -20px;
    bottom: 13%;
  }


  & .slide {
    box-shadow: 15px 10px 30px rgb(114, 109, 109);
    display: inline-block;
    @include background;
    align-self: flex-start;
    background-size: contain;
    background-position: center;
    width: 360px;
    box-shadow: 10px 5px 25px rgb(114, 109, 109);
    height: 500px;
    display: none;
    transition: all .6s;

    &.active {
      display: block;
    }
  }

  &-slide {

    &-content {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      padding-top: 100px;
      text-align: left;
      height: 60%;
    }

    &-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      margin-bottom: 30px;
    }

    &-docs {
      padding-left: 15px;
      font-weight: 500;
      font-size: 15px;
      line-height: 35px;
      text-align: left;
      text-decoration-line: underline;
      color: $textColorHover;
    }
  }

}

.show-doc-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 50;
  background-color: rgba(64, 82, 91, 0.55);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  @include flexCenter;

  &>.show-doc-big {
    opacity: 1;
  }
}

.show-doc-big {
  position: relative;
  z-index: 100;

  @include flexCenter;
  width: 70vw;
  height: 90vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}

.tabs {
  text-align: center;
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #95D3FF;
    position: absolute;
    top: -25px;
    display: block;
  }
}

.tab {
  font-size: 20px;
  cursor: pointer;
  transition: .5s;
  border-bottom: 1px solid transparent;
  user-select: none;
  text-align: center;
  margin-bottom: 25px;


  &:hover {
    text-decoration: underline;
    color: $textColorHover;
  }

  &.active {
    text-decoration: underline;
    color: $textColorHover;
  }
}

.docs-arrows {
  display: none;
}


@media(min-width: 900px) {
  .documents {
    background-image: url("../img/documents/documents-bg.png");
    @include background;

    & .slider {
      height: 840px;
      margin-top: 120px;
      background-image: url("../img/documents/book-bg.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

    }

    & .prev,
    & .next {
      font-size: 25px;
      position: relative;
      bottom: 3%;
    }



    & .slide-cont {
      margin-top: -120px;
    }

    & .slide {
      width: 563px;
      height: 685px;
    }

    &-slide {

      &-title {
        font-size: 24px;
      }

      &-docs {
        padding-left: 55px;
        font-size: 18px;
        line-height: 30px;
      }
    }

  }



  .tabs {
    flex-direction: row;
    justify-content: space-between;
  }

  .tab {
    height: 10px;
    margin-bottom: 0;

    &:hover {
      text-decoration: underline;
      color: $textColorHover;
    }

    &.active {
      position: relative;
      text-decoration: none;

      &::after {
        content: "";
        width: 100%;
        height: 15px;
        background: #95D3FF;
        position: absolute;
        top: -35px;
        display: block;
      }
    }
  }

  .docs-arrows {
    display: inline-block;
    cursor: pointer;
    color: #95D3FF;
    font-size: 30px;
  }

  .btn-disable {
    cursor: default;
    color: rgba(189, 185, 185, .5);
  }

  .hide-tab {
    display: none;
  }
}