.hero {
  @include background;
  padding-top: 83px;
  padding-bottom: 100px;
  position: relative;

  &:after {
    @include gradient-bottom;
  }

  &__text-wrap {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 5;
  }

  &__title {
    font-family: $logoText, sans-serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 90px;
    letter-spacing: 0.1em;
    margin-bottom: 34px;
  }

  &__desc {
    font-weight: 300;
    font-size: 20px;
    line-height: 45px;
    margin-bottom: 40px;
    padding: 0 7px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}

@media(min-width: 640px) {
  .hero {
    &__text-wrap {
      width: 70%;
      text-align: left;
      padding-left: 15px;
    }

    &__title {
      font-size: 45px;
    }

    &__desc {
      font-size: 24px;
    }

    &__btn {
      display: block;
      margin: 0;
    }
  }
}

@media(min-width: 900px) {
  .hero {
    &__text-wrap {
      width: 50%;
      padding-left: 15px;
    }

    &__title {
      font-size: 96px;
    }

    &__desc {
      font-size: 24px;
      padding: 0;
    }


  }
}

@media(min-width: 1200px) {
  .hero {
    &__text-wrap {
      width: 45%;
      padding: 0;
    }
  }
}