.google-map {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
  width: 90%;
  height: 60vh;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 15px;
}

.map {

  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Gotham Pro", sans-serif;

  &__container {
    position: relative;
    min-height: 562px;
    background-position: left top;
    @include background;

    &:after {
      @include gradient-bottom;
    }
  }

  &__contacts {
    background-color: #fff;
    border: 1px solid #95D3FF;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 25px 50px;
    position: relative;

    &>ul {
      padding-bottom: 70px;

    }

    &>ul>li {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }

    &-leaf {
      position: absolute;
      right: 0;
      height: 116px;
      width: 134px;
      background-repeat: no-repeat;

      &--right-rotate {
        top: 30%;
        background-image: url("../img/leaf-right-rotate.png");
      }

      &--left-rotate {
        top: 68%;
        background-image: url("../img/leaf-left-rotate.png");
      }

      &--horiz-rotate {
        top: 85%;
        background-image: url("../img/leaf-horizontal.png");

      }

    }

    &-title {
      text-align: left;
      font-size: 24px;
      font-weight: 500;
      line-height: 27px;
      padding-bottom: 30px;
      letter-spacing: 0.05em;
    }

    &-item-name {
      font-size: 18px;
      line-height: 17px;
      letter-spacing: 0.05em;

    }

    &-item-text {
      font-weight: 300;
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0.05em;

    }
  }
}

.gradient-container {
  position: relative;

}

@media(min-width: 600px) {

  .map {
    &__contacts {
      text-align: center;


      &-title {
        text-align: center;
        font-size: 27px;
      }

      &-item-name {
        font-size: 20px;
      }

      &-item-text {
        font-size: 18px;
      }
    }
  }

  .google-map {
    height: 80vh;
  }
}

@media(min-width: 900px) {
  .map {


    &__contacts {
      text-align: left;
      position: absolute;
      top: 20%;
      right: 17px;
      width: 479px;
      z-index: 10;


      &>ul>li {
        flex-direction: row;
      }


      &-title {
        text-align: left;
        font-size: 24px;
      }

      &-item-name {
        font-size: 18px;
        padding-right: 20px;
        padding-bottom: 30px;

        &--w40 {
          width: 40%;
        }
      }

      &-item-text {
        font-size: 16px;

        &--w55 {
          width: 55%;
        }
      }
    }
  }

  .google-map {
    height: 85vh;
  }

}