.swiper-news-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 349px;
  height: 430px;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  user-select: none;
  filter: brightness(.9);
}

.swiper-slide-active{
  filter: brightness(1);
}

.swiper-container-3d{
  perspective: 800px !important;
}

.swiper-slide-image{
  width: 349px;
  height: 330px;
  margin-bottom: 20px;
}

.swiper-slide-text{
  font-size: 20px;
  color: #819098;
  text-decoration: none;
}

.swiper-slide-link-wrapper{
  text-decoration: none !important;
}

@media (max-width: 900px) {
  .swiper-news-container{
    width: 249px;
    height: 330px;
  }
  .swiper-slide-image{
    width: 249px;
    height: 260px;
  }
}