.our-awards {
    @include background;
    background-image: url("../img/photogallery-bg.png");
}

.useful-links {
    background-image: url("../img/photogallery-bg.png");
    @include background;
}

.links-flex.down-line {
    padding-bottom: 100px;
    margin-bottom: 0;
}

.awards-block {
    text-align: center;
    width: 227px;
    margin: 0 50px 55px 50px;
}

.border-awards {
    height: 354px;
}

.awards-image {
    width: 195px;
    height: 331px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    margin-top: 10px;
}

.awards-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 55px;
}

.name-of-awards {
    font-size: 20px;
    line-height: 30px;
}

@media(min-width: 1100px) {

    .awards-block {
        margin: 0;
        margin-bottom: 55px;
    }

    .name-of-awards {
        font-size: 16px;
    }
}