.photo-gallery {
  background-image: url("../img/photogallery-bg.png");
  @include background;
  padding-top: 130px;
  padding-bottom: 200px;

  &__images-cont {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-gap: 62px 90px;
    margin-top: 100px;
    width: 100%;
  }

  &__img {
    @include background;
    width: 100%;
    height: 326px;
    border-radius: 25px;
    background-position: top center;
  }

  &__img-wrap {
    @include flexCenter;
    width: 80%;
    justify-content: flex-start;
    flex-direction: column;
    border: $blueBorder;
    border-radius: 25px;
    position: relative;
    text-decoration: none;
    cursor: pointer;

    &>p {
      color: $textColor;
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.01em;
      padding: 23px 23px 17px;
    }

    &:after {
      content: '';
      width: 72px;
      height: 3px;
      background-color: #3DD7F9;
      position: absolute;
      bottom: -3px;
      left: 50%;
      transform: translateX(-50%);


    }
  }
}

@media(min-width: 640px) {
  .photo-gallery {

    &__images-cont {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 70px 15px;
    }

    &__img {
      width: 100%;
    }

    &__img-wrap {
      width: 100%;
    }
  }
}

@media(min-width: 900px) {
  .photo-gallery {

    &__images-cont {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 62px 90px;
    }

  }
}