.short-about {
  padding-top: 60px;
  padding-bottom: 125px;
  position: relative;
  background-image: url('../img/team-bg.png');
  @include background;

  &:after {
    @include gradient-top-bottom;
  }

  &>.container {
    position: relative;
    z-index: 5;
  }

  & .section-subtitle {
    margin-bottom: 105px;
  }

  &__section-img {
    display: none;
  }

  &__item-wrap {
    list-style-type: none;
    counter-reset: num;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 53px;
    grid-row-gap: 86px;
    margin-bottom: 80px;
    text-align: center;


    &>li {
      // box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.5);
      background: #FFFFFF;
      border: 0.5px solid #77D2FF;
      border-radius: 30px;
      padding: 40px 50px;
      font-size: 18px;
      line-height: 30px;
      position: relative;
      width: 90%;
      margin: 0 auto;
      @include flexCenter;
    }

    &>li::before {
      content: counter(num);
      counter-increment: num;
      font-weight: bold;
      font-size: 48px;
      line-height: 29px;
      letter-spacing: 0.14em;
      color: #77D2FF;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 7%;
    }
  }

  &-btn {
    margin: 0 auto;
  }
}

@media(min-width: 900px) {
  .short-about {

    &__section-img {
      display: inline-block;
      background-image: url("../img/short-about-img.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 275px;
      height: 350px;
      position: absolute;
      z-index: 2;
      bottom: 0;
      right: 0;

      &:after {
        content: 'Ласкаво';
        position: absolute;
        display: flex;
        width: 120px;
        font-family: $logoText;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #FF3856;
        left: 0;
        top: 50%;
        transform: translate(-60%, -50%);
      }

      &:before {
        content: 'просимо!';
        position: absolute;
        display: flex;
        width: 120px;
        font-family: $logoText;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #FF3856;
        left: 0;
        top: 53%;
        transform: translateX(-40%);
      }
    }

    &__item-wrap {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr 1fr;
      text-align: left;

      &>li {
        margin: 0 auto;
        width: 80%;
      }

      &>li::before {
        content: '0'counter(num);
        left: 0;
      }
    }

    &-btn {
      margin: 15px;
    }
  }
}

@media(min-width: 1240px) {
  .short-about {

    &__item-wrap {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr;

      &>li {
        width: 100%;
      }
    }

    &-btn {
      margin: 0;
    }
  }
}