.section {
    &-contacts {
        font-family: "Gotham Pro", sans-serif;
        background-image: url("../img/preschoolDepBackground.png");
        @include background;
        width: 100vw;
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;

    &-help {
        &-table-title {
            font-weight: 500;
            font-size: 30px;
            margin: 20px 0;
            color: #131E26;

            &::first-child {
                margin-top: 0;
            }
        }

        &>ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &>ul>li {
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &-title {
            text-align: left;
            font-size: 20px;
            width: 40%;
        }

        &-descr {
            font-weight: 300;
            font-size: 20px;
            text-align: right;
            width: 60%;
        }
    }
}

@media(min-width: 640px) {

    .contacts {

        &-help {
            &-table-title {
                font-size: 33px;
            }

            &-title {
                font-size: 24px;
                width: 50%;
            }

            &-descr {
                font-size: 24px;
                width: 50%;
            }
        }
    }
}

@media(min-width: 900px) {

    .contacts {
        flex-direction: row;
        padding: 0;

        &-help {
            &-table-title {
                font-size: 36px;
                height: 90px;
                margin: 0;
            }

            &-descr {
                padding-right: 10px;
            }
        }
    }
}