    .section {
        &-vacancy {
            font-family: "Gotham Pro", sans-serif;
            background-image: url("../img/preschoolDepBackground.png");
            @include background;
        }
    }

    .vacancy {
        margin-top: 60px;
        padding-left: 15px;

        &:first-child {
            margin-top: 0;
        }

        &-item {
            &-title {
                font-size: 25px;
                text-decoration-line: underline;
                color: $textColor;
                margin-bottom: 30px;
            }

            &-requirements {
                font-size: 20px;
                line-height: 40px;
                margin-bottom: 25px;
            }
        }

        &-obligations {
            font-size: 20px;
            line-height: 40px;
            margin-bottom: 25px;
        }

        &-contact {
            font-size: 18px;
            color: #000;
        }
    }

    .text-bold {
        font-weight: 500;
    }


    @media(min-width: 640px) {
        .vacancy {

            &-item {
                &-title {
                    font-size: 30px;
                }
            }

        }
    }

    @media(min-width: 900px) {

        .vacancy {
            padding-left: 0;

            &-item {
                &-title {
                    font-size: 36px;
                    margin-bottom: 35px;
                }
            }

            &-obligations {
                font-size: 18px;
            }
        }
    }