.about-us-main-title {
    background-image: url("../img/aboutUs-title-back.png");
    @include background;
}

.acquaintance {
    background-image: url("../img/acquaintance-back.png");
    @include background;
    font-family: "Gotham Pro", sans-serif;

    &-container {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding-top: 100px;
        padding-bottom: 140px;
    }

    &-img {
        width: 555px;
        height: 540px;

        &-container {
            position: relative;
        }
    }

    &-text {
        width: 49vw;
        font-size: 24px;
        line-height: 50px;
        color: $textColor;
    }
}

.girl-mind {
    text-align: center;
    position: absolute;
    top: 90px;
    left: 60px;
    font-size: 24px;
    color: $textColor;
}



.about {
    &-text {
        font-size: 24px;
        line-height: 50px;
        color: $textColor;
        text-align: left;
    }

    &-preschool {
        &-department {
            background-image: url("../img/about-preschool-department-back.png");
            @include background;
        }

        &-text {
            width: 80vw;
            margin: 0 auto 70px;
        }

        &-img {
            width: 100%;
        }

        &-btn {
            position: absolute;
            right: 20%;

            &::after {
                content: "";
                position: absolute;
                background-image: url("../img/leaf-left-rotate.png");
                @include background;
                width: 100px;
                height: 100px;
                left: -130px;
                top: -70px;
            }

            &::before {
                content: "";
                position: absolute;
                background-image: url("../img/leaf-horizontal.png");
                @include background;
                width: 120px;
                height: 70px;
                left: -150px;
                bottom: -25px;
            }
        }

    }

    &-special-school {
        padding-top: 20px;
        background-image: url("../img/about-special-school-back.png");
        @include background;
        position: relative;
        height: 90vh;

        &-text {
            width: 60vw;
            margin-left: 85px;
        }

        &-img {
            position: absolute;
            right: 0;
            top: 100px;
        }

        &-btn {
            position: absolute;
            bottom: 100px;
            left: 90px;
        }
    }

    &-section {

        &-title {
            text-align: left;
            font-weight: 500;
            font-size: 36px;
            line-height: 90px;
            justify-content: flex-start;
            margin-left: 110px;
        }

        &-btn {
            &::after {
                content: "";
                position: absolute;
                background-image: url("../img/leaf-right-rotate.png");
                @include background;
                width: 100px;
                height: 100px;
                right: -120px;
                top: -70px;
            }

            &::before {
                content: "";
                position: absolute;
                background-image: url("../img/bottom-leaf-btn.png");
                @include background;
                width: 120px;
                height: 70px;
                right: -160px;
                bottom: -25px;
            }
        }
    }

    &-reabilitation {
        &-text {
            width: 60vw;
            margin-left: 85px;

        }

        &-btn {
            position: absolute;
            bottom: 50px;
            left: 90px;
        }
    }

    &-section-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 90px;
        position: relative;

        &::before {
            right: 0;
            left: -7%;
            bottom: 0;
            top: -5px;
        }
    }
}

.about-us-title {
    font-style: normal;
    font-size: 36px;
    color: #131E26;
    position: relative;
    display: inline-block;
    margin-left: 165px;
    margin-bottom: 10px;

    &::before {
        content: url('../img/circles-small-left.svg');
        position: absolute;
        left: -80px;
        top: -5px;
    }

    &::after {
        content: url('../img/circles-small-right.svg');
        position: absolute;
        right: -80px;
        top: -5px;
    }
}

.about-us-boarding {
    background-image: url("../img/about-us-entar-background.png");
    @include background;
    font-family: "Gotham Pro", sans-serif;
    padding-top: 50px;
    padding-bottom: 101px;
    position: relative;

    &-btn {
        position: absolute;
        right: 15%;
    }
}

.about-us-para-long {
    font-size: 24px;
    line-height: 50px;
    margin-left: 165px;
    width: 80vw;
    margin-bottom: 115px;
}

.about-us-boarding-image {
    margin-left: 56px;
}

.about-us-para-short {
    font-size: 24px;
    line-height: 50px;
    margin-left: 165px;
    width: 60vw;
}

.about-us-entertainment {
    font-family: "Gotham Pro", sans-serif;
    padding-top: 50px;
    padding-bottom: 150px;
    position: relative;
}

.about-us-entertainment-picture {
    position: absolute;
    right: 100px;
    bottom: 170px;
}

.about-us-food {
    font-family: "Gotham Pro", sans-serif;
    padding-top: 50px;
    padding-bottom: 300px;
    position: relative;
}

.about-us-food-picture {
    transform: scale(.8);
    bottom: 50px;
    right: 0;
    position: absolute;
}

.about-us-main-background {
    background-image: url("../img/about-us-entartain-food.png");
    @include background;
}

@media (max-width: 900px) {
    .about-us-main-title {
        background: none;
    }

    .acquaintance {
        background: none;
    }

    .acquaintance-img-container {
        display: none;
    }

    .acquaintance-text {
        width: auto;
        text-align: center;
        padding: 0 10px;
    }

    .acquaintance-container {
        padding: 30px 0 30px;
    }

    .about-us-title::before {
        display: none;
    }

    .about-us-title::after {
        display: none;
    }

    .about-us-title {
        margin-left: 0;
        text-align: center;
        margin-bottom: 30px;
        display: block;
    }

    .about-text {
        line-height: 35px;
        text-align: center;
    }

    .about-preschool-btn {
        position: static;
    }

    .about-preschool-department {
        margin-bottom: 30px;
    }

    .about-special-school-img {
        display: none;
    }

    .about-special-school {
        height: auto;
    }

    .about-special-school-text {
        margin: 0 0 20px 0;
        width: auto;
        padding: 0 10px;
    }

    .about-special-school-btn {
        position: static;
    }

    .main-btn__cont {
        margin: 0 auto 20px;
    }

    .about-reabilitation-text {
        padding: 0 23px;
        width: auto;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .about-reabilitation-btn {
        position: static;
    }

    .about-us-boarding {
        background: none;
    }

    .about-us-para-long {
        margin-left: 0;
        width: auto;
        padding: 0 20px;
        text-align: center;
        margin-bottom: 30px;
    }

    .about-us-boarding-btn {
        position: static;
    }

    .about-us-boarding-image {
        display: none;
    }

    .about-us-boarding {
        padding-bottom: 50px;
    }

    .about-us-main-background {
        background: none;
    }

    .about-us-entertainment-picture {
        display: none;
    }

    .about-us-para-short {
        width: auto;
        margin-left: 0;
        text-align: center;
        padding: 0 20px;
    }

    .about-us-entertainment {
        padding-bottom: 50px;
    }

    .about-us-food-picture {
        display: none;
    }

    .about-us-food {
        padding-bottom: 50px;
    }
}