.section-preschool-department {
    padding-top: 52px;
    background-image: url("../img/preschoolDepBackground.png");
    @include background;
    font-family: "Gotham Pro", sans-serif;

}

.title-description {
    width: 90vw;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 15px;
    line-height: 30px;
    color: #1A394B;
}

.preschool-department {
    &-main {
        &-content {
            margin-top: 25px;
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
        }

        &-pic {
            display: none;
        }
    }

    &-schedule {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &-block {
            width: 100vw;
            text-align: center;
        }

        &-title {
            font-size: 36px;
            transition: .5s;
            cursor: pointer;
            color: $textColor;
            display: inline-block;
            margin-bottom: 60px;
        }

        &-info {
            display: none;
            margin-left: 20px;
            margin-top: 15px;
            color: $textColorHover;
            text-decoration: none;
            font-size: 20px;
            margin-bottom: 30px;
            margin-top: -45px;

            &.active {
                display: block;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.table {
                text-align: left;
                color: #000;
                font-size: 18px;
                line-height: 30px;

                &:hover {
                    text-decoration: none;

                }
            }
        }

        &-doc {
            display: inline-block;
            font-weight: 500;
            font-size: 19px;
            color: $textColorHover;
            text-decoration: underline;
            text-align: center;
            padding-bottom: 15px;
        }
    }
}

.row {
    &>.cell:first-child {
        padding-right: 25px;
        width: 155px;
    }
}

@media(min-width: 640px) {
    .title-description {
        width: 70vw;
        font-size: 22px;
    }

    .preschool-department {

        &-schedule {

            &-block {
                width: 100vw;
                text-align: center;
            }

            &-title {
                font-size: 40px;
            }

            &-info {
                font-size: 22px;
            }

            &-doc {
                font-size: 25px;
            }
        }


    }
}

@media(min-width: 900px) {
    .title-description {
        width: 45vw;
        font-size: 20px;
    }

    .preschool-department {
        &-main {
            &-pic {
                width: 49vw;
                display: inline-block;
            }
        }

        &-schedule {

            &-block {
                width: 40vw;
                text-align: left;
            }

            &-title {
                border-bottom: 1px solid $textColor;

                &:hover {
                    color: $textColorHover;
                    border-bottom: 1px solid $textColorHover;
                }
            }

            &-info {
                font-size: 18px;
            }

        }

        &-doc {
            font-size: 24px;
            padding-bottom: 0;
        }
    }
}