.cell-title {
    font-weight: 500;
    font-size: 19px;
    color: #000;
    padding: 15px 0 5px 0;
}

.education-programs-doc {
    color: $textColorHover;
    text-decoration: none;
    font-size: 20px;
    display: block;
    line-height: 30px;

    &:hover {
        text-decoration: underline;
    }

}

.special-doc {
    font-size: 20px;
}

.preschool-department-schedule-info.education-programs:hover {
    text-decoration: none;
}

@media(min-width: 640px) {
    .cell-title {
        font-size: 22px;
    }
}

@media(min-width: 900px) {
    .cell-title {
        font-size: 24px;
    }

    .education-programs-doc {
        font-size: 18px;
    }

    .special-doc {
        font-size: 22px;
        text-align: left;
    }
}