.rehab {
  background-image: url("../img/aboutUs-title-back.png");
  @include background;
  font-family: "Gotham Pro", sans-serif;
  padding-top: 57px;
  padding-bottom: 121px;
}

.rehab-main-img {
  display: none;
}


.rehab-profiles-list-container {
  text-align: center;
}

.rehab-profiles-list-header {
  margin-top: 50px;
  text-decoration: underline black;
  font-size: 28px;
  margin-bottom: 50px;
  text-align: center;
}


.rehab-profiles-list-item {
  margin-bottom: 20px;
  font-size: 20px;

  &:last-child {
    margin-bottom: 40px;
  }
}


.rehab-profiles-document {
  text-decoration: underline #95D3FF;
  color: #95D3FF;
  font-size: 20px;
}

@media(min-width: 640px) {

  .rehab-profiles-list-header {
    font-size: 36px;
  }


  .rehab-profiles-list-item {
    font-size: 20px;
  }


  .rehab-profiles-document {
    font-size: 24px;
  }
}

@media(min-width: 1100px) {

  .rehab-main-img {
    display: inline-block;
  }

  .rehab-profiles {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rehab-profiles-list-container {
    margin-left: 100px;
    text-align: left;
  }

  .rehab-profiles-list-header {
    margin-top: 0;
  }

  .rehab-profiles-list-item {
    font-size: 18px;
  }

}