.section-photos {

    &-title {
        color: $textColor;
        font-family: 'Gotham Pro', sans-serif;
        font-size: 18px;
        text-align: center;
        padding: 75px 0;
    }
}

.photos {
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    &-item {
        margin: 0 auto;
        width: 349px;
        height: 330px;
        margin-bottom: 85px;
        cursor: pointer;

        &-big {
            width: 370px;
            height: 340px;
            margin: auto;
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1050;
        }
    }
}

.big-photo {
    opacity: 0;

    &.active {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1050;
        opacity: 1;
        transition: opacity 200ms ease-in;
    }

    &-close {
        display: none;
        cursor: pointer;

        &.active {
            display: inline-block;
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 9999;
            font-size: 45px;
            color: #fff;
        }
    }
}

@media(min-width: 1100px) {
    .section-photos {

        &-title {
            font-size: 21px;
        }
    }

    .photos {

        &-item {
            &-big {
                width: 550px;
                height: 530px;
            }
        }
    }

    .big-photo {
        &-close {
            &.active {
                top: 30px;
                right: 50px;
            }
        }
    }
}