.section-photos {
    font-family: 'Gotham Pro', sans-serif;
}

.lets-play-text {
    color: $textColor;
    font-size: 18px;
    line-height: 39px;
    text-align: center;
    margin-bottom: 90px;
    padding: 0 15px;
}

@media(min-width: 900px) {

    .lets-play-text {
        font-size: 21px;
        padding: 0;
    }
}