.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 100px 0;
    font-family: "Gotham Pro", sans-serif;


    &-title {
        text-align: center;
        font-size: 45px;
        margin-bottom: 50px;
    }

    &-subtitle {
        font-size: 20px;
        margin-bottom: 50px;
        padding: 0 25px;
        text-align: center;
    }

    &-link {
        font-size: 23px;
        color: $textColorHover;
    }
}

@media(min-width: 640px) {
    .not-found {
        &-title {
            font-size: 50px;
        }

        &-subtitle {
            font-size: 20px;
        }

        &-link {
            font-size: 23px;
        }
    }

}

@media(min-width: 900px) {
    .not-found {
        &-title {
            font-size: 60px;
        }

        &-subtitle {
            font-size: 25px;
        }

        &-link {
            font-size: 25px;
        }
    }

}