@mixin flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin gradientBorder{
  border: 2px solid;
  border-image: linear-gradient(#77D2FF 25%, rgba(246, 88, 107, 0.57) 100%);
  border-image-slice: 1;
}
@mixin background{
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin gradient-top-bottom{
  content:'';
  position: absolute;
  z-index: 0;
  top:0;
  left:0;
  bottom:0;
  right: 0;
  background: linear-gradient(
                  to top,
                  rgba(255,255,255, 1) 0%,
                  rgba(255,255,255, .9) 7%,
                  rgba(255,255,255, .8) 9%,
                  rgba(255,255,255, .4) 12%,
                  rgba(255,255,255, .2) 15%,
                  rgba(255,255,255, 0) 20%,
                  rgba(255,255,255, .2) 75%,
                  rgba(255,255,255, .6) 80%,
                  rgba(255,255,255, .8) 85%,
                  rgba(255,255,255, .9) 90%,
                  rgba(255,255,255, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
@mixin gradient-bottom{
  content:'';
  position: absolute;
  z-index: 0;
  top:0;
  left:0;
  bottom:0;
  right: 0;
  background: linear-gradient(
                  to bottom,
                  rgba(255,255,255, 0) 88%,
                  rgba(255,255,255, .3) 90%,
                  rgba(255,255,255, .8) 95%,
                  rgba(255,255,255, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
@mixin gradient-top{
  content:'';
  position: absolute;
  z-index: 0;
  top:0;
  left:0;
  bottom:0;
  right: 0;
  background: linear-gradient(
                  to top,
                  rgba(255,255,255, .1) 65%,
                  rgba(255,255,255, .3) 75%,
                  rgba(255,255,255, .4) 80%,
                  rgba(255,255,255, .6) 85%,
                  rgba(255,255,255, .8) 90%,
                  rgba(255,255,255, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}