@import "variables";
@import "mixins";

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Light.ttf') format('truetype'),
    url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.ttf') format('truetype'),
    url('../fonts/GothamPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Medium.ttf') format('truetype'),
    url('../fonts/GothamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Bold.ttf') format('truetype'),
    url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Black.ttf') format('truetype'),
    url('../fonts/GothamPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  color: $textColor;
  font-family: $mainFont;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background-color: rgb(228, 224, 224);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #6dc0c8;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #56999f;
}

::-webkit-scrollbar {
  width: 10px;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

//main button styles
.main-btn {
  &__cont {
    width: 335.8px;
    border: 0.5px solid #F57AA1;
    border-radius: 50px;
    font-family: $mainFont;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    @include flexCenter;
    transition: .5s;


    &:hover {
      box-shadow: $btnShadowHover;
    }
  }

  &__bg {
    width: 100%;
    padding: 12px;
    background-color: #FF739F;
    border-radius: 50px;
  }

  &__inner-text {
    padding: 16px;
    width: 100%;
    background: linear-gradient(80.71deg, rgba(255, 255, 255, 0.02) 4.16%, rgba(196, 196, 196, 0) 11.39%), linear-gradient(80.71deg, rgba(255, 255, 255, 0.15) 4.16%, rgba(196, 196, 196, 0) 11.39%);
    border-radius: 50px;
    position: relative;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(80.71deg, rgba(255, 255, 255, 0.02) 4.16%, rgba(196, 196, 196, 0) 11.39%), linear-gradient(80.71deg, rgba(255, 255, 255, 0.16) 4.16%, rgba(196, 196, 196, 0) 11.39%);
    border-radius: 50px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

//section-title style
.section-title {
  font-style: normal;
  font-size: 40px;
  text-align: center;
  color: #131E26;
  @include flexCenter;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}


//style for subtitle
.section-subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 90px;
  color: #1A394B;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;

  .bold-text {
    font-weight: 500;
  }

  .text-center {
    text-align: center;
  }
}

@media(min-width: 640px) {
  .section-title {
    font-size: 50px;
    line-height: 90px;
    margin-bottom: 0;
  }

  .section-subtitle {
    font-size: 33px;

    &::before {
      content: url('../img/subtitle-dots-left.svg');
      margin-right: 5%;
    }

    &::after {
      content: url('../img/subtitle-dots-right.svg');
      margin-left: 5%;
    }

  }
}

@media(min-width: 900px) {
  .section-title {
    font-size: 48px;

    &::before {
      content: url('../img/Group 753.svg');
      position: absolute;
      left: 160px;
      top: -5px;
    }

    &::after {
      content: url('../img/Group 754.svg');
      position: absolute;
      right: 160px;
      top: -5px;
    }
  }

  .section-subtitle {
    font-size: 36px;
  }
}


@import "sections/header";
@import "pages/mainPage/hero-section";
@import "pages/mainPage/short-about";
@import "pages/mainPage/anthem";
@import "pages/mainPage/news";
@import "pages/mainPage/photo-gallery";
@import "pages/mainPage/documents";
@import "pages/mainPage/our-team";
@import "pages/mainPage/our-awards";
@import "pages/mainPage/links";
@import "pages/mainPage/map";
@import "sections/footer";
@import "pages/spService/sp-service";
@import "pages/mainPage/our-awards";
@import "pages/mainPage/links";
@import "pages/mainPage/contact-us";
@import "pages/preschoolDepartment/main";
@import "pages/specialSchool/main";
@import "pages/contacts/main";
@import "pages/vacancy/main";
@import "pages/aboutUs/main";
@import "pages/rehabilitation/main";
@import "pages/boardingSchool/main";
@import "pages/aboutUs/main";
@import "pages/404Page/main";
@import "pages/firstBell/main";
@import "pages/letsPlay/main";
@import "pages/happyFamily/main";
@import "pages/mainPage/swiper.min";