.section-title.sp-service {
    &::before {
        content: ""
    }

    &::after {
        content: "";
    }
}

.page-background {
    padding-top: 25px;
    background-image: url('../img/sky-bg.png');
    @include background;
}

.description-image-top {
    display: none;
}

.page-description {
    margin-top: 25px;
    font-size: 18px;
    line-height: 40px;
    color: #1A394B;
    text-indent: 15px;
    padding: 0 20px;
}

.description-image-bottom {
    display: none;
}

.shadow {
    width: 100%;
    height: 0;
    background-color: #fff;
    box-shadow: 0 0 80px 35px rgb(255, 255, 255);
}

@media(min-width: 1100px) {
    .section-title.sp-service {
        font-size: 48px;

        &::before {
            content: url('../img/Group 753.svg');
            position: absolute;
            left: 65px;
            top: -5px;
        }

        &::after {
            content: url('../img/Group 754.svg');
            position: absolute;
            right: 65px;
            top: -5px;
        }
    }

    .page-background {
        padding-top: 0;
    }

    .description-image-top {
        display: block;
        height: 426px;
    }

    .page-description {
        margin-top: 0;
        padding: 0;
        font-size: 24px;
        line-height: 50px;
        text-indent: 50px;
    }

    .description-image-bottom {
        display: block;
        height: 565px;
    }
}